h1 {
  text-align: center;
  color:#464E47;
  font-family: "Lucida Console", "Courier New",;
}

p {
  text-align: center;
  color: #568259;
  text-decoration: underline;
}

body {
  background-color: #E0FFFC;
  font-family: "Poppins", sans-serif;
}

img { 
  display: block;
  margin-left: auto;
  margin-right: auto;}


}

img:hover {
  border: black dotted 3px;
  height: 350px;
  background-color: #36625E;
  opacity:25%
}



nav {
  list-style-type:none;
  position: fixed;
  width:100%;
  background-color: #9EFFF7;
  left: 0;
  top: 0;
}

li {
  display: inline;
  float: right;
  padding: 10px
    
}
a {
  text-decoration: none;
  color: #393D3F
}

li:hover {
  background-color: white;
  opacity: 50%
}
